<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<form action="/create" method="post">
		<input id="room-name" type="text" name="room-name">
		<input type="submit" value="Create Room">
	</form>
</body>
</html>
